---
import CarouselAdmin from "src/modules/about-us/components/CarouselAdmin/CarouselAdmin";
import GroupCard from "src/modules/about-us/components/GroupCard.astro";
import { admins, groups } from "src/modules/about-us/constants/about-us.const";
import Layout from "src/modules/global/layouts/Layout.astro";

const styledParagraph = "text-[1rem] text-gray-300 leading-relaxed";

const OPTIONS = {
	align: "start",
	dragFree: true,
	loop: true,
	slidesToScroll: "auto",
};
---

<Layout title="Acerca de | Share IT" showBackButton>
	<div class="max-w-4xl mx-auto cursor-default">
		<h1 class="text-4xl font-bold text-center mb-8 text-white">
			Acerca de Nosotros
		</h1>
		<p class=`${styledParagraph} mb-2`>
			<span class="font-bold text-lg text-secondary">Share</span>
			<span class="font-bold text-[#586ab1]">IT</span>
			es una comunidad <span class="font-bold">hispanohablante</span> de personas
			que trabajan o quieren trabajar en la industria IT. Nos reunimos en WhatsApp
			y Discord para <span class="font-bold"
				>aprender juntos, compartir conocimientos y acompa침arnos en el
				crecimiento profesional</span
			>.<br /> <br /> Creemos en el poder de la colaboraci칩n. Por eso fomentamos un
			ambiente donde puedes hacer preguntas sin miedo, recibir ayuda, aportar
			lo que sabes y conectar con otros que est치n en tu mismo camino. Nuestro
			prop칩sito es simple: crear una red de apoyo real que ayude a cada miembro
			a desarrollarse en tecnolog칤a de manera sostenible, humana y sin egos.
			<br /> <br />
			<span class="font-bold">Nadie despega맙olo </span>游
		</p>
		<h2 class="text-2xl mt-6 font-bold text-white">
			쯈u칠 vas a encontrar en esta comunidad?
		</h2>
		<p class=`${styledParagraph} mt-2`>
			La comunidad en WhatsApp est치 compuesta por los siguientes grupos,
			cada uno con una din치mica distinta. Por favor aseg칰rate de leer la
			descripci칩n de cada uno para entender맙u맗rop칩sito.
		</p>
		<div class="flex flex-col gap-4 my-3">
			<div
				class="grid h-full w-full gap-4 grid-cols-1 grid-rows-1 sm:grid-cols-2 lg:grid-cols-2"
			>
				{
					groups.map((group) => (
						<GroupCard
							title={group.title}
							description={group.description}
							size={group.size}
							span={group.span}
							spanStyle={group.spanStyle}
						/>
					))
				}
			</div>

			<div>
				<h2 class="text-2xl mt-6 mb-4 font-bold text-white">
					Conoce a los L칤deres de Nuestra Comunidad
				</h2>
				<CarouselAdmin slides={admins} options={OPTIONS} client:load />
			</div>
		</div>
	</div>
</Layout>
