---
import { AnimatedText } from '@components/AnimatedText/AnimatedText'
import ContentCard from '@components/ContentCard.astro'
import Layout from '@layouts/Layout.astro'
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content'
import {getTagNamesByEntries} from "@helpers/tagHelper"
import { SocialLinks } from '@components/SocialLinks/SocialLinks';
import { Toast } from '@components/Toasts/Toast';



const articles = await getCollection('articles', ({ data }) => {
  return !data.draft
})

const resources = await getCollection("resources");

const latestArticles = articles
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 2)
const tagNamesByArticle = await getTagNamesByEntries(latestArticles);

const latestResources = resources
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 2)
const tagNamesByResources = await getTagNamesByEntries(latestResources);

export const prerender = true
---

<Layout title='Share IT Blog'>
  <div class="grid min-[1000px]:grid-cols-2 place-items-center mb-16">
    <div
    class='text-center min-[1000px]:text-start px-4 py-12'
  >
    <AnimatedText client:load />
    <p class='text-3xl md:text-4xl text-gray-300 max-w-2xl mx-auto mt-2'>
      Bienvenido a <span
        class='font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#4b6ef8] via-primary to-[#94e7f8]'
        >Share IT</span
      >.
    </p>
    <p class='text-gray-300 mx-auto m-4 max-w-[600px]'>
      Somos una comunidad unida por el deseo de aprender, compartir conocimientos y crecer juntos en el ámbito tecnológico.
      <span class='font-bold'>Este es un rincón para intercambiar conocimientos</span> y experiencias que nos han guiado y ayudado en <span class='font-bold'>nuestro recorrido</span>.
    </p>
    <div class='flex sm:flex-row justify-center min-[1000px]:justify-start gap-4 flex-col'>
      <SocialLinks client:load/>
    </div>

    </div>

    <Image
      src='/images/Frame.png'
      width={300}
      height={300}
      alt='Hero Image'
      class='mt-16'
      />
  </div>

  <section class='mb-12'>
    <div class='mb-8'>
      <h2 class='text-3xl font-bold mb-4 text-white'>📚 Contenido Destacado</h2>
      <p class='text-gray-300 max-w-2xl'>
        Descubre nuestros últimos artículos y recursos más valiosos. Conocimiento compartido por nuestra comunidad para ayudarte en tu crecimiento profesional.
      </p>
    </div>
    
    <div class='grid grid-cols-1 md:grid-cols-2 gap-6 mb-8'>
      {
        latestArticles.map((article) => (
          <ContentCard
            additionalClass='md:h-[200px] h-[220px]'
            title={article.data.title}
            description={article.data.description}
            tags={tagNamesByArticle.get(article.id)}
            date={article.data.date}
            href={`/articles/${article.id}`}
          />
        ))
      }
    </div>

    {
      latestResources.length > 0 && (
        <div class='grid grid-cols-1 md:grid-cols-2 gap-6 mb-8'>
          {latestResources.map((resource) => (
            <ContentCard
              target='_blank'
              rel='noopener noreferrer'
              title={resource.data.title}
              description={resource.data.description}
              tags={tagNamesByResources.get(resource.id)}
              date={resource.data.date}
              href={resource.data.url}
            />
          ))}
        </div>
      )
    }

    <div class='text-center mt-6'>
      <div class='flex flex-col sm:flex-row gap-4 justify-center items-center'>
        <a href='/articles/1' class='text-primary hover:text-secondary transition-colors'>
          Ver todos los artículos →
        </a>
        {
          latestResources.length > 0 && (
            <span class='text-gray-500 hidden sm:block'>|</span>
          )
        }
        {
          latestResources.length > 0 && (
            <a href='/resources' class='text-primary hover:text-secondary transition-colors'>
              Ver todos los recursos →
            </a>
          )
        }
      </div>
    </div>
  </section>

  <section class="mb-6">
    <div class="flex flex-col gap-3 justify-center items-center">
      <h2 class='text-3xl font-bold text-center text-white'>
        📋 Conoce nuestras reglas de convivencia
      </h2>
      <p class='text-lg text-center text-gray-400'>Para mantener una comunidad sana y productiva, es importante conocer y respetar nuestras reglas. ¡Tómate un momento para leerlas! 😉

      </p>
      <a
      href='/rules'
      class='flex justify-center items-center bg-[#314aa9] hover:bg-[#2f3fca] text-white px-6 py-2 rounded-full'
    >
      Ver reglas de la comunidad
    </a>
    </div>
    <Toast client:load/>
  </section>
</Layout>
