---
import { getCollection } from 'astro:content';
import { getTagNamesByEntries } from '@helpers/tag.helper';
import ContentCard from 'src/modules/global/components/CustomCard/ContentCard.astro';

const resources = await getCollection('resources');
const tagNamesByResources = await getTagNamesByEntries(resources);

const sortedResources = resources.sort(
	(a, b) => b.data.date.getTime() - a.data.date.getTime(),
);
---

<div>
	{
		sortedResources.length === 0 ? (
			<div class='text-center py-12'>
				<p class='text-gray-400 text-lg'>
					Aun no hay recursos publicados. ¡Vuelve pronto!🚀
				</p>
			</div>
		) : (
			<div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
				{sortedResources.map((resource) => (
					<ContentCard
						target='_blank'
						rel='noopener noreferrer'
						title={resource.data.title}
						description={resource.data.description}
						tags={tagNamesByResources.get(resource.id)}
						date={resource.data.date}
						href={resource.data.url}
					/>
				))}
			</div>
		)
	}

	<div class='text-center mt-8'>
		<a
			href='https://github.com/eliasvelazquezdev/share-it-resources'
			target='_blank'
			class='text-primary hover:text-secondary'
			rel='noopener noreferrer'
			aria-label='Repositorio de la comunidad'>
			¿Quieres ver más recursos? ¡Hazlo aquí! →
		</a>
	</div>
</div>
